.h2 {
    font-size: calc(4vh + .5rem);
}

.h1 {
    font-size: calc(4vh + .5rem);
    color: red;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

a:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.5s;
}

.bg-dark1 {
    --bs-bg-opacity: 1;
    background: transparent;
}

.btn1.active {
    color: black;
    background-color: white;
    border-color: white;
}

.btn {
    border-radius: 33rem;
    border: 2px;

}

.btn:hover {
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;

}

.btn1 {
    --bs-btn-hover-color: rgb(0, 0, 0);
    --bs-btn-hover-bg: #ffffff;
}

.container-fluid1 {
    width: 100%;
    padding-left: max(12%);
    padding-top: max(26px);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.offcanvas-body {

    background-color: black;
}

.offcanvas-header {

    background-color: black;

}

.navbar-toggler {
    background-color: #ffffff;
        margin: 0vw 2vw 3vw;
}

.navbar-toggler-icon {

    width: 1em;
    height: 1em;

}

.offcanvas {

    max-width: 37%;

}

.waves {
    position: relative;
    width: 100%;
    transform: rotate(180deg);
    height: max(15vh);
    margin-bottom: max(-50px);
    min-height: 22px;
    max-height: 79px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {


        margin-bottom: px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}