<div id="heading">
    <p @slidein2 class="heading">Latest Projects</p>
    <br />
    <p @slideinright class="sub-heading">
        Here you can find some of the projects that I created recently
    </p>
</div>

<div @viewin >
    <div  class="project-item">

        <div   class="card">
            <img src="assets/img/portfolioAngular.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title1">Rahul-R</h3>

                    </div>
                </div>
                <div class="card__description">
                    
                    <div class="source">
                        <a  target="_blank" href="https://github.com/RahulR001/Rahul-R.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="assets/img/portfolioDjango.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title1">PortFolio-Using-Django</h3>

                    </div>
                </div>
                <div class="card__description">It's a PortFolio Website developed using Django.
            
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/PortFolio-Using-Django.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/questtracker.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title">Quest Tracker</h3>

                    </div>
                </div>
                <div class="card__description">It's a Website developed using Django for Project Task Management.
      
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/Quest-Tracker.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>
 
     

        <div  class="card">
            <img src="assets/img/crudAPI.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title">CRUD API</h3>

                    </div>
                </div>
                <div class="card__description">It's an API developed using Django REST Framework.
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/CRUD-API.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>

        <div  class="card">
            <img src="assets/img/todolist.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title">TodoList</h3>

                    </div>
                </div>
                <div class="card__description">It's a Website developed using Django, Where you can add and maintain
                    your various ToDo's
               
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/Todo-List-Using-Django-Forms.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>
        <div   class="card">
            <img src="assets/img/ims.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title1">InternShip Management System</h3>

                    </div>
                </div>
                <div class="card__description">It's a Project developed using Python GUI Tkinder,To maintain InternShip
                    data's.
            
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/Internship-Management-System.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>


     
        <div  class="card">
            <img src="assets/img/treasurehunt.png" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div class="card__header-text">
                        <h3 class="card__title">Treasure Hunt</h3>

                    </div>
                </div>
                <div class="card__description">It's a 3D endless runner game developed using Unity Engine.
            
                    <div class="source">
                        <a target="_blank" href="https://github.com/RahulR001/The-Treasure-Hunt.git" class="btn mt-3 btn-success">Source</a>
                    </div>
                </div>
            </div>
        </div>

    