<div class=" homeContainer">
    <div class="textcontainer">
        <span>
            <h1 class="h1text">
                <p @slidein1>Hi There,</p>
                <h2 @slidein2 class="name">
                    <p>I'm &nbsp;</p>
                    <p class="h">Rahul R</p>
                </h2>
            </h1>
            <h3 @slidein3 class="h1text1">
                I Am into Full stack &nbsp; <b class="w">Development !</b>
            </h3>
        </span>
        <div class="container">
            <div @viewin class="aboutbtn">
                <a class="button-85" routerLink="/about">
                    About Me
                </a>
            </div>
            <div @slideup class="social">
                <a href="https://github.com/RahulR001" target="_blank"><img class="a" style="border-radius: 1000px;"
                        src="assets/img/gh.png" width="100%"></a>
                <a href="https://www.linkedin.com/in/rahul-r-1a3b24232" target="_blank"><img
                        style="border-radius: 1000px;" src="assets/img/in.jpg" width="100%"></a>
                <a href="https://instagram.com/r.a.h.u.l__________r?utm_medium=copy_link" target="_blank"><img
                        src="assets/img/ig.png" width="100%"></a>
                <a href="https://www.facebook.com/rahulsquads" target="_blank"><img src="assets/img/fb.jpg"
                        width="100%"></a>
                <a href="https://twitter.com/RahulR00001" target="_blank"><img
                        src="assets/img/tw.png" width="100%"></a>
            </div>
        </div> 
    </div>

    <img @profilein class="pic" src="assets/img/Rahul.png" alt="Rahul">

</div>

<div @viewin>
    <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>